.navbar {
  background-color: rgb(110, 110, 109); /* Set navbar background color */
  margin-left: 100px;
  margin-right: 100px;
}

.navbar-transparent {
  background-color: transparent;
}

.form-control {
  width: 100%; /* Make the search bar extend to 100% width */
  max-width: 800px; /* Set a maximum width for the search bar */
 
  margin-left: 200px;
}
input{width: 800px;
size: 800px;}
.container-fluid{
  justify-content: space-evenly;
}
.nav-item{
  justify-content: space-evenly;
}