@tailwind base;
@tailwind components;
@tailwind utilities;
h1{
  align-content: center;
  font-size: xx-large;
  justify-content: center;
  font-weight: bolder;
}
.btn{
  color: rgb(94, 94, 91);
  background-color: rgb(122, 121, 122);
  border: black;
}