.navbar {
  background-color: rgb(253, 253, 252); /* Set navbar background color */
  margin-left: 100px;
  margin-right: 100px;
}

.navbar-transparent {
  background-color: transparent;
}

.form-control {
  width: 100%; /* Make the search bar extend to 100% width */
  max-width: 800px; /* Set a maximum width for the search bar */
 
  margin-left: 500px;
}
