@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  text-align: center;
}

.searchbar {
  width: 60%; 
  height: 40px;
  display: block;
}

.row1 {
  justify-content: center; /* Center the row */
}

.searchbar-container {
  display: flex;
  align-items: center; 
  width: 85%; /* Match the width of the searchbar */
  margin-left: 300px /* Center the container */
}

.dropdown { 
  margin-left: 10px; 
}

.dropdown-menu {
  background-color: rgb(46, 39, 39);
  border: none;
}

.btn {
  margin-left: 10px; 
}

.icon {
  margin-left: 10px; /* Ensure consistent spacing */
}

.list-group {
  margin-top: 20px; /* Adjust spacing between search bar and list */
  width: 60%; /* Match the width of the searchbar */
  margin-left: auto;
  margin-right: auto; /* Center the list */
}

.list-group-item {
  margin-top: 10px; /* Reduce the gap between list items */
}
