/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  text-align: center;
}

.searchbar {
  width: 60%; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
 margin-left: 40px; /* Center the search bar horizontally */
  display: block;}
 /* flex: 1;  */
.row1{
  justify-content: space-evenly;
}
.searchbar-container {
  display: flex;
  align-items: center; /* Vertically center the items */
}



.dropdown {
  margin-left: 10px; /* Adjust the margin between the input and the button */
}
