 @import "bootstrap/dist/css/bootstrap.min.css";
 body{
    background-color: black;
    font-family: 'Poppins', sans-serif
 }
 .tab-bar {
    background-color: black;
    font-family: 'Poppins', sans-serif
}

.tab-link {
    color: white;
    text-decoration: none;
}

.tab-link.active {
    color: grey;
}

.btn-warning {
    background-color: rgb(247, 204, 64);
    border-color: rgb(247, 204, 64);
}

.btn-warning:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
}
.footer {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.company-info .company-name {
    font-size: 1.2rem;
}

.logo {
    height: 40px;
}

.social-icons a {
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: grey;
}
.text-white{
    margin-left: 20px;
}
