body {
 background-color: rgb(247, 217, 163);
}

.container {
  display: flex;
}
hr{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.social {
  display: flex;
  justify-content:left;
}

.social > * {
  margin: 0 5px; /* Adjust the value to set the desired gap */
}

.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
ul{
  list-style-type: none;
}
.card-content {
  width: 900px;
  height: 450px;
  background-color: rgb(248, 245, 245);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.side-cards {
  display: flex;
  flex-direction: column;
}
.card{background-color: beige;
  margin-left: 80px;
  font-size: x-large;
  width: 200px;
}
.Button{background-color: rgb(80, 62, 41);
  color: rgb(255, 255, 255);
}
.card-img-top{
  background-image: url("assets/photo.jpg");
}
.Image{
  background-image: url("assets/photo.jpg");
}