
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, rgb(8, 24, 44), #131f3b, #0f223f, #14344e, #076e8d);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poetsen One', sans-serif;
}

.elements {
  margin-top: 20px;
  display: flex;
  align-items: flex-end; 
  justify-content: space-between; 
  color: aquamarine;
  font-size: x-large;
  width: 100%; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.home:hover {
  color: white;
}

.about:hover {
  color: white;
}

.blogs:hover {
  color: white;
}

.skills:hover {
  color: white;
}
