body {
  background-color: rgb(46, 39, 39);
  font-family: "Open Sans", sans-serif;

}

.navbar {
  background-color: rgb(252, 251, 251);
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .dropdown-item {
  color: #faf8f8; 
  font-family: "Open Sans", sans-serif;
}
.container-fluid{
  background-color: rgb(46, 39, 39);
  font-family: "Open Sans", sans-serif;
}
.nav-item{
  color: #faf8f8;
  align-items: end;
  justify-content: end;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;

}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2899, 99, 99, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-brand{
  font-size: xx-large;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.navbar-nav{
  margin-left: 800px;
}
.profileimage{
  background-image: url("assets/bwphoto.jpg");
  height: 650px;
  width:850px;
  background-size: contain;
  background-repeat: no-repeat;
}