@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: rgb(46, 42, 42);
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
  color: aliceblue;

}
.card-body{
  color:aliceblue;
}
.login{
  color: aliceblue;
}