body{
  background-image: url("assets/Untitled design (3).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
  color: aliceblue;

}
.card-body{
  color:aliceblue;
}
.login{
  color: aliceblue;
}