@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
  box-shadow: 0px 2px 5px rgb(250, 204, 106);
  display: flex;
  align-items: center;
}

.main-content {
  padding-top: 50px;
}

.explore {
  font-size: 15px;
  color: rgb(250, 204, 106);
  display: flex;
  align-items:center;
  font-family: "Poppins", sans-serif;
  height: 40px;
  width: 40px;

}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}


.navbar a {
  color: rgb(250, 204, 106);
}

.logo {
  background-image: url('src/assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 380px;
  width: 380px;
  margin-left: 480px;
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 480px;
}

.credentials input {
  width: 400px;
  margin: 10px 0;
  padding: 10px;
  border: 4px double rgb(250, 204, 106);
  background-color: black;
  color: rgb(248, 202, 102);
  font-size: 16px;
}

.custom-button {
  width: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(248, 202, 102);
  color: black;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: #f8f8f5;
}



.login {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1240px;
  height: 100vh;
}

.navlogo {
  height: 60px;
  width: 100px;
}

.breadcrumb-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.breadcrumb-link:hover,
.breadcrumb-link:focus {
  color: white;
}

.breadcrumb-link-active {
  color: white;
}
