body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.logo {
  background-image: url('assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 400px;
  margin-bottom: 20px; /* Space between logo and credentials */
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credentials input {
  width: 300px; /* Adjust width as needed */
  margin: 10px 0;
  padding: 10px;
  border: 4px double rgb(250, 204, 106); /* Double size of the border */
  background-color: black;
  color:  rgb(248, 202, 102);
  font-size: 16px; /* Adjust font size */
}
