@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(18, 31, 31);
}

.navigation {
  background-color: transparent;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navcontent {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-weight: bold;
  font-size: xx-large;
  text-decoration: none;
  margin-top: 20px;
  padding: 0;
  border-radius: 30px; /* Make ends circular */
  overflow: hidden; 
}

.name {
  margin-right: 0;
  color: rgb(244, 248, 248);
  font-family: 'Times New Roman', Times, serif;
}
.name:hover {
  color: snow;
}

.home, .about, .portfolio, .contact {
  color: rgb(181, 241, 241);
  font-family:cursive;
  font-size: large;
  text-decoration: none; 
  margin: 0; 
  padding: 0; 
}
.home:hover, .about:hover, .portfolio:hover, .contact:hover {
  color: aliceblue;
}

.navcontent > li {
  padding: 0 10px;
}

.image {
  margin-left: 20px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(102, 245, 226, 0.808); /* Add background shadow */
  transition: transform 0.3s ease-in-out; 
}

.image:hover {
  transform: scale(1.1);
}

.nav-item {
  color: rgb(181, 241, 241);
  font-size: large;
}

.nav-item:hover {
  font-family: cursive;
  color: aliceblue;
}

hr {
  width: 100%;
  border: none;
  height: 1px; /* Adjust the height if needed */
  background-color: rgba(139, 235, 235, 0.5); /* Adjust the background color and opacity */
}
