@import 'bootstrap/dist/css/bootstrap.min.css';
@import "react-alice-carousel/lib/alice-carousel.css";

.Home {
  background-color: rgb(27, 27, 27);
  height: 640px;
  width: 1360px;
  border-bottom-right-radius: 300px; 
}

.Appbarcontainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.signin {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.signin button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  height: 30px; 
}

.btn-transparent {
  background-color: transparent;
  color: rgb(250, 249, 249); 
  
}

.btn-white {
  background-color: white;
  color: black;
  height: 30px;
  border-radius: 5px;
}

.btn-image {
  background-color: transparent;
  padding: 0; 
  border: none; 
  height: 30px; 
}

.btn-image-logo {
  width: auto;
  height: 100%; 
}

  .mainpagetext {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white; 
  margin-left: 120px;
    margin-top: 100px;
    text-align: left;
  }

  .Startnow {
    background-color: #ffffff; 
    color: black; 
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
  }
  
  .Startnow:hover {
    background-color: #cccccc; 
  }
  .imageandtext{
    display: flex;
  }
 
  .image-stack{
    margin-left: 150px;
    position: relative;
    gap: 10;
  }
  .image1{
  position: relative;
  margin-top: 100px;
 } 
 .image2{
  position: absolute;
  margin-top: 0px;
 
  margin-left: -5px; 
 } 
 .Resources {
  background-color: rgb(253, 251, 251);
  height: 700px;
  width: 1360px;

}
.Resourcesand{
  font-size: 50px;
 font-weight: bold;
 margin-top: 80px;
 margin-left: 350px;
 color: black;

}
.text2{
  font-size: 20px;
  margin-left: 350px;
  color: rgb(73, 72, 72);
}
.cards{
  display: flex;
gap: 1px;
height: 400px;
margin-top: 30px;

}
.Page3{
  background-color: rgb(27, 27, 27);
  height: 640px;
  width: 1360px;
  border-bottom-left-radius: 300px; 
}